.header {
  @extend %grid;
}

.header__image {
  grid-column: 2 / -1;
}

.header__card {
  grid-column-end: span 8;
  background: $white;
  padding: 2rem;
  margin-top: -4rem;
}

.header__title {
  color: var(--oc-gray-9);
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--oc-green-9);
}

.header__description {
  color: var(--oc-gray-7);
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

.header__meta {
  color: var(--oc-gray-7);
}
