.main {
  max-width: $page-width;
  margin: 0 auto;
}

.content {
  @extend %grid;
}

.richtext,
.data-wrapper {
  grid-column: 6 / 12;
}

.data-wrapper {
  margin: 4rem 0;
}

.browser {
  grid-column: 2 / 12;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.browser__window {
  border-top: 2rem solid var(--oc-gray-2);
  box-shadow: 0 0.1rem 1rem 0 rgba(var(--oc-gray-5-rgb), 0.25);
  position: relative;
  border-radius: 4px;

  &:before {
    display: block;
    position: absolute;
    content: "";
    top: -1.25rem;
    left: 1rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--oc-red-6);
    box-shadow: 0 0 0 2px var(--oc-red-6), 1.5rem 0 0 2px var(--oc-green-6),
      3rem 0 0 2px var(--oc-orange-5);
  }
}

.browser__content {
  max-height: 90vh;
  overflow-y: auto;
}

.browser__description {
  padding: 1rem;
  font-style: italic;
}

.image {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 4px;
}

.image--screenshot {
  box-shadow: 0 0.1rem 1rem 0 rgba(var(--oc-gray-5-rgb), 0.25);
}
