<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="robots" content="noindex, nofollow" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <link rel="icon" href="<%= require('./images/favicon.ico') %>" sizes="any" />
    <!-- 32×32 -->
    <link rel="icon" href="<%= require('./images/favicon.svg') %>" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="<%= require('./images/apple-touch-icon.png') %>" />
    <!-- 180×180 -->

    <!-- TODO: self host the fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <main class="main">
      <header class="header">
        <!-- 1195 / 508 -->
        <!-- <img
          src="https://picsum.photos/id/233/1920/816?grayscale"
          alt="Just a random background image"
          
        /> -->
        <img
          src="<%=require('./images/header.jpeg')%>"
          alt="Bild eines Treibhauses"
          class="header__image"
        />
        <!-- 1002, 451 -->
        <div class="header__card">
          <h1 class="header__title">Triebhuus</h1>
          <p class="header__description">
            Ein Projekt zur Förderung der bürgerlichen Partizipation
          </p>
          <p class="header__meta">
            Diplomarbeit von Dan Büschlen<br />
            18. Juni 2022<br />
            IAD 2019<br />
            Schule für Gestaltung Zürich<br />
          </p>
        </div>
      </header>
      <article class="content">
        <div class="richtext">
          <h2>Einleitung</h2>
          <p>
            Dieses Projekt hat seinen Ursprung bei einer Geschichte, die sich vor ca. 2 Jahren in
            meinem Umfeld ereignet hat. Meine Freunde und ich lieben es an heissen Sommertagen eine
            Abkühlung im nahe gelegenen Fluss zu nehmen. Immer wieder beschwerten wir uns darüber,
            dass in der Nähe des Parkplatzes keine bequeme Auststiegsstelle vorhanden ist. Nach
            einigen Diskussionen und einer Planungsphase haben sich meine Freunde schlussendlich
            dazu entschieden, Initiative zu ergreifen und selbst eine Treppe für den Ausstieg zu
            bauen.
          </p>
          <p>
            Es war aber allen Beteiligten klar, dass dieses Vorhaben den baurechtlichen Vorschriften
            nicht entspricht. Deshalb und auch aus der Respekt vor der Bürokratie, haben sie sich
            nicht bei der lokalen Gemeindeverwaltung gemeldet und selbst das Projekt umgesetzt.
          </p>
          <p>
            Ich fand es faszinierend zu sehen, wie Menschen mit handwerklichen Fähigkeiten ein
            Bedürfnis im öffentlichen Raum sahen und dann selbst gleich die Lösung dafür lieferten.
            Gleichzeitig zeigt es aber auch auf, dass Personen der Bevölkerung sich nicht bei der
            lokalen Gemeinde melden, weil sie befürchten, dass ihre Idee und die Initiative
            abgelehnt werden könnte.
          </p>
          <p>
            Dies hat mich auf die Idee gebracht, mit dieser Arbeit ein Konzept zu erstellen, um die
            folgende Frage zu bearbeiten.
          </p>

          <p class="title-quote">
            «Wie kann ich die Bevölkerung dabei unterstützen ihre Ideen bei der Gemeinde
            einzubringen?»
          </p>
        </div>

        <hr />

        <div class="richtext">
          <h2>Recherche</h2>
          <p>
            Da bereits eine relativ klare Fragestellung definiert ist, habe ich nochmals einen
            Schritt zurück gemacht und ein paar Aspekte genauer betrachtet. Gibt es überhaupt ein
            Bedürfnis auf Seite der Bevölkerung sich stärker einbringen zu können und gibt es dieses
            Bedürfnis auch auf Seiten der Politik? Wo liegen momentan die Stolpersteine, wenn sich
            Bürgerinnen und Bürger einbringen wollen und was hält sie davon ab? Welche Projekte und
            Angebote befassen sich bereits mit dieser Thematik?
          </p>
          <h3>Bevölkerung</h3>
          <p>
            Um mehr darüber zu erfahren, wie die Bevölkerung darüber denkt, habe ich mich mit meinem
            Umfeld ausgetauscht. Alle diese Personen wohnen in einer Gemeinde, sind in einer
            Nachbarschaft zuhause, haben alle ihre eigenen Vorstellung des öffentlichen Lebens,
            sowie Ansprüche und Bedürfnisse an die öffentliche Infrastruktur.
          </p>
          <p>In den Gesprächen und beim Zuhören sind mir folgende Punkte aufgefallen.</p>
          <h4 class="title-quote">«Meinst du sowas wie ‹…› ?»</h4>
          <p>
            Wenn ich jeweils über das Thema dieses Projektes gesprochen und den Sachverhalt der
            bürgerlichen Partizipation erklärt habe, hörte ich immer wieder die Aussage «Meinst du
            so etwas wie…?». Dabei folgte immer eine Idee oder ein Bedürfnis aus dem Alltag dieser
            Menschen wie z.B. «Grünnützungsfläche» oder «eine Sitzbank am Waldrand». Dies hat mir
            bestätigt, dass sehr viele Ideen und Ansätze für Projekte vorhanden sind.
          </p>
          <h4 class="title-quote">«Wo soll ich mich melden?»</h4>
          <p>
            Das Beispiel der «Sitzbank am Waldrand» hörte ich von einer älteren Frau, welche in
            ihrem Wohnort immer wieder denselben Spaziergang macht und sich an einer Stelle am
            Waldrand eine Sitzbank wünschte. Sie weiss aber nicht ob sie sich bei der Verwaltung der
            lokalen Gemeinde, der Holzkorporation oder sonst wo melden sollte.
          </p>
          <p>
            Das selbe ist mir auch aufgefallen, als ich bei der Verwaltung meiner Wohngemeinde
            angerufen habe, um jemanden für ein Interview anzufragen, welcher im Bereich der
            bürgerlichen Partizipation arbeitet. Leider wusste auch selbst die Verwaltung nicht wer
            dafür zuständig ist.
          </p>
          <p>
            Es gibt also in der Bevölkerung, wie auch auf Seite der Verwaltung, Unklarheit wo die
            richtige Anlaufstelle für Ideen und Projekte sind.
          </p>
          <h4 class="title-quote">«Mit dieser Bürokratie hat das sowieso keine Chance!»</h4>
          <p>
            Von verschiedenen Personen hörte ich immer wieder, dass sie glauben, dass eine
            spezifische Idee dem Baurecht nicht entsprechen würde oder die Prozesse so lange dauern,
            dass es überhaupt keinen Zweck hat, sich einzubringen.
          </p>
          <p>Das Vertrauen in die Prozesse der Verwaltung scheint also nicht gross zu sein.</p>
          <p>
            Eine Erhebung der Bertelsmann Stiftung stützt meine These, dass ein grosser Teil der
            Bevölkerung eine Beteiligung über die Wahlen hinaus wünscht. Ein sehr grosser Teil denkt
            aber auch, dass die Politik eine solche Beteiligung gar nicht möchte. Die Erhebung muss
            aber auch im Kontext des deutschen politischen Systems betrachtet werden, da sich dies
            ziemlich stark zur Schweizer Demokratie unterscheidet.
          </p>
        </div>
        <div class="data-wrapper">
          <iframe
            title="Meinungsbild zur Bereitschaft der Bürger zu politischer Beteiligung"
            aria-label="Säulen (gruppiert)"
            id="datawrapper-chart-66tez"
            src="https://datawrapper.dwcdn.net/66tez/1/"
            scrolling="no"
            frameborder="0"
            style="width: 0; min-width: 100% !important; border: none"
            height="438"
          ></iframe>
          <script type="text/javascript">
            !(function () {
              "use strict"
              window.addEventListener("message", function (e) {
                if (void 0 !== e.data["datawrapper-height"]) {
                  var t = document.querySelectorAll("iframe")
                  for (var a in e.data["datawrapper-height"])
                    for (var r = 0; r < t.length; r++) {
                      if (t[r].contentWindow === e.source)
                        t[r].style.height = e.data["datawrapper-height"][a] + "px"
                    }
                }
              })
            })()
          </script>
        </div>
        <div class="richtext">
          <h3>Politik / Verwaltung</h3>
          <p>
            Damit ich die Probleme und Herausforderung auf Seite der Politik und der Verwaltung
            verstehen konnte, habe ich mit Ronald Alder ein Interview geführt. Er ist Gemeinderat
            der Gemeinde Ottenbach ZH und Kantonsrat im Kanton Zürich.
          </p>
          <p>Die wichtigsten Punkte aus dem Gespräch sind folgend zusammengefasst.</p>
          <p>
            Bürgerliche Partizipation ist aus Sicht der Politik fast immer erwünscht. Ziel der
            meisten Politiker und Politikerinnen ist es, die Bevölkerung und ihre Anliegen zu
            vertreten. Ein stetiger Austausch hilft, um eine Entkopplung zu verhindern. Das
            Bedürfnis ist grundsätzlich vorhanden.
          </p>
          <p>
            Die meisten Personen, welche sich bereits engagieren, tun dies entweder für eine gewisse
            Zeit oder innerhalb eines gewissen Themas. Sprich dort, wo man persönlich betroffen oder
            interessiert ist. Es gibt fast keine Menschen, welche sich stetig und über ein breites
            Spektrum beteiligen.
          </p>
          <p>
            Direkt an die Verwaltung werden fasst keine Projektanfragen gestellt. Dabei soll
            anscheinend die Kommunikation das grösste Problem sein. Die Menschen wissen nicht, wo
            sie sich melden können.
          </p>
          <p>
            Die Verwaltung von kleineren Gemeinden (im Kontext dieses Interviews: Ottenbach ca. 2300
            Einwohner) hat in den meisten Fällen sehr knappe Ressourcen. Selbst wenn Mitarbeitende
            in die Ferien gehen oder krank sind, gibt es Verantwortlichkeiten, die in dieser Zeit
            nicht wahrgenommen werden können.
          </p>
          <p>
            Bei öffentlichen digitalen Tools und Plattformen haben in der Vergangenheit verschiedene
            Verwaltungen oft anfangs sehr viel Geld investiert und den Launch sehr stark gepusht.
            Danach war es die grösste Challenge, das Tool zu unterhalten und am Leben zu erhalten.
            Aufgrund von knappen Ressourcen sind viele Plattformen wieder eingegangen.
          </p>
          <p>
            Der Föderalismus ist zwar ein gutes und bewährtes System, doch Kantone und Gemeinde
            verstehen sich nicht immer gut. Der Kanton kennt die Bedürfnisse der Gemeinden nicht
            immer gut und für eine einzelne Gemeinde ist es schwierig, beim Kanton für seine
            Bedürfnisse einzustehen.
          </p>

          <h3>Der bestehende Markt</h3>
          <p>
            Es gibt bereits eine Menge an Organisationen, Firmen und Vereine, die sich mit digitaler
            bürgerlicher Partizipation auseinandersetzen und diese fördern wollen.
          </p>
          <h4>Civocracy</h4>
          <img
            alt="Screenshot der Civocracy Plattform von Lyon"
            src="<%=require('./images/market/civocracy.png')%>"
            class="image image--screenshot"
          />

          <p>
            Die Firma Civocracy unterstützt mit ihrer Plattform politische Verwaltungen, um das
            Engagement und den Austausch mit der Bevölkerung zu fördern. Weil die Plattform viele
            kommunikative Funktionen beinhaltet, dient es vor allem als digitales Sprachrohr. Dabei
            liegt der Fokus der Initiative vor allem auf Seite der Verwaltung. Das heisst, wenn die
            Verwaltung den Input der Bevölkerung zu einem bestimmten Thema will, dann schalten sie
            die entsprechenden Massnahmen dazu auf der Plattform auf. Das Ziel ist es, die Agenda
            der aktuellen politischen Administration voranzutreiben und deren Resultate zu messen.
          </p>
          <h5>Pros:</h5>
          <ul>
            <li>
              Sehr viele kommunikative Tools
              <ul>
                <li>News</li>
                <li>Blog</li>
                <li>Events</li>
              </ul>
            </li>
          </ul>
          <ul>
            <li>Eine grosse Menge an einzelnen Tools</li>
          </ul>
          <h5>Cons:</h5>
          <ul>
            <li>Agenda der Politik steht im Vordergrund</li>
            <li>Jede Gemeinde / Organisation muss ihre eigene Plattform unterhalten</li>
          </ul>

          <h4>Crossiety</h4>
          <img
            alt="Screenshot der Crossiety Website"
            src="<%=require('./images/market/crossiety.png')%>"
            class="image image--screenshot"
          />
          <p>
            Crossiety ist eine ähnliche Plattform wie Civocracy. Dabei steht die politische Agenda
            aber weniger in Zentrum. Mit einem sehr grossen Bereich an verschiedensten Funktionen
            könnte man es am ehesten als digitaler Dorfplatz bezeichnen. Es soll den Austausch
            innerhalb der Bevölkerung sowie zwischen Bevölkerung und der Verwaltung fördern.
          </p>
          <h5>Pros:</h5>
          <ul>
            <li>
              Für Schweizer Gemeinden optimal, da die Firma aus der Schweiz ist und sich mit dem
              hiesigen demokratischen System und der Kultur auskennt.
            </li>
          </ul>
          <h5>Cons:</h5>
          <ul>
            <li>Jede Gemeinde muss ihre eigene Plattform aufbauen und unterhalten</li>
            <li>Relativ grosser Aufwand zum Launch und Unterhalten.</li>
          </ul>
          <h4>nextzürich</h4>
          <img
            alt="Screenshot der nextzurich Website"
            src="<%=require('./images/market/nextzurich.jpg')%>"
            class="image image--screenshot"
          />
          <p>
            Nextzürich ist eine Organisation, die sich für Co-creation in der Stadtentwicklung der
            Stadt Zürich einsetzt. Nebst dem, dass sie Events und Workshops organisieren, stellen
            sie auf Ihrer Website auch eine Ideenkarte zur Verfügung. Auf dieser können Personen
            ihre eigenen Ideen erfassen und geografisch auf der Karte anheften.
          </p>
          <p>
            Nextzürich ist Teil des
            <a href="https://www.wearenext.org/" rel="nofollow">Next Networks</a>
          </p>
          <h5>Pros:</h5>
          <ul>
            <li>Up- / Downvotes zeigen relativ schnell die Bedürfnisse auf</li>
            <li>Karte als Interface, um Ideen zu verorten</li>
          </ul>
          <h5>Cons:</h5>
          <ul>
            <li>Es ist nicht klar, was mit diesen Ideen geschieht.</li>
            <li>Kein Austausch mit der politischen Verwaltung</li>
          </ul>

          <h4>Stadtmacher</h4>
          <img
            alt="Screenshot der Stadtmacher Website"
            src="<%=require('./images/market/stadtmacher.png')%>"
            class="image image--screenshot"
          />
          <p>
            Stadtmacher ist eine Crowdfundingplattform für Projekte der Bevölkerung der Stadt
            Hamburg. Auf der Plattform werden jeweils «Challenges» veröffentlicht, zu welcher dann
            konkrete Projekte eingereicht werden können.
          </p>
          <h5>Pros:</h5>
          <ul>
            <li>Finanzierung. Sowohl von anderen Personen wie auch von der Organisation</li>
            <li>Vernetzung innerhalb der Bevölkerung</li>
          </ul>
          <h5>Cons:</h5>
          <ul>
            <li>
              Einschränkung durch Challenges. Gibt es eine Idee ohne die Challenge, passt sie nicht
              auf die Plattform.
            </li>
            <li>
              Es muss bereits eine klare Vorstellung des Projektes bestehen, bevor es eingereicht
              werden kann
            </li>
          </ul>

          <h4>Züri wie neu</h4>
          <img
            alt="Screenshot der Zueri Wie Neu Website"
            src="<%=require('./images/market/zueriwieneu.jpg')%>"
            class="image image--screenshot"
          />
          <p>
            Ähnlich wie «Nextzürich» bietet «Züri wie neu» ein kartenbasiertes Tool. Die Plattform
            dreht sich aber um Schäden und Mängel der öffentlichen Infrastruktur, die von der
            Bevölkerung gemeldet werden.
          </p>
          <h5>Pros</h5>
          <ul>
            <li>Austausch zwischen Bevölkerung und Verwaltung</li>
            <li>
              Status der Meldung ist klar. Die Meldungen werden in der Regel schnell bearbeitet.
            </li>
            <li>Plattform wird unterhalten</li>
          </ul>
          <h5>Cons</h5>
          <ul>
            <li>Könnte zum Shitposting missbraucht werden</li>
            <li>Es geht nicht darum, was noch sein könnte, sondern was nicht funktioniert.</li>
          </ul>
        </div>
        <hr />
        <div class="richtext">
          <h2>Problemdefinition / Synthese</h2>
          <p>
            Die Recherchephase hat aufgezeigt, dass sich die Fragestellung «Wie kann ich die
            Bevölkerung dabei unterstützen, ihre Ideen bei der Gemeinde einzubringen?» bewährt. Das
            Bedürfnis nach mehr Partizipation ist in der Bevölkerung wie auch aufseiten der Politik
            vorhanden.
          </p>
          <h3>Archetypen</h3>
          <p>
            Anstelle von Personas habe ich mich dazu entschieden, sogenannte Archetypen zu
            erstellen. Dazu habe ich die verschiedenen Eigenschaften und Pain Points, die in der
            Recherchephase gesammelt worden sind, gruppiert und damit mögliche Nutzer dargestellt.
          </p>
        </div>
        <div class="archetype-list">
          <div class="archetype">
            <h4 class="archetype__title">Initiativ-Typ</h4>

            <h5 class="archetype__section-title">Eigenschaften</h5>
            <ul class="archetype__attributes">
              <li>Hat eine konkrete Idee für ein Projekt.</li>
              <li>Hat Fähigkeiten, um Projekt umzusetzen oder kann einen Teil dazu beisteuern.</li>
              <li>Möchte und kann aktiv helfen.</li>
            </ul>
            <h5 class="archetype__section-title">Pain Points</h5>
            <ul class="archetype__attributes">
              <li>Weiss nicht, wo sie sich einbringen oder melden kann.</li>
              <li>Glaubt nicht an Umsetzbarkeit innerhalb der Bestimmungen (z.B. Baugesetze)</li>
              <li>
                Kann das Projekt nicht alleine umsetzen (z.B. fehlende Mittel oder zusätzliche
                Skills)
              </li>
            </ul>
          </div>
          <div class="archetype">
            <h4 class="archetype__title">Bedürfnis-Typ</h4>

            <h5 class="archetype__section-title">Eigenschaften</h5>
            <ul class="archetype__attributes">
              <li>Lebt oder arbeitet in der betroffenen Gemeinde</li>
              <li>Hat ein Bedürfnis oder vermisst etwas im öffentlichen Raum</li>
              <li>Kann oder will die Idee selbst nicht umsetzten</li>
            </ul>
            <h5 class="archetype__section-title">Pain Points</h5>
            <ul class="archetype__attributes">
              <li>Weiss nicht, wo sie sich einbringen oder melden kann.</li>
            </ul>
          </div>
          <div class="archetype">
            <h4 class="archetype__title">Verwaltung-Typ</h4>

            <h5 class="archetype__section-title">Eigenschaften</h5>
            <ul class="archetype__attributes">
              <li>Möchte über Probleme und Bedürfnisse in der Gemeinde informiert sein</li>
              <li>Möchte Anfragen effizient bearbeiten können.</li>
            </ul>
            <h5 class="archetype__section-title">Pain Points</h5>
            <ul class="archetype__attributes">
              <li>
                Hat nebst der Verantwortung für den Bereich «Bürgerliches Engagement» noch viele
                andere Zuständigkeiten.
              </li>
              <li>Häufig zu wenig Kapazität</li>
            </ul>
          </div>
        </div>
        <div class="richtext">
          <h3>Requirements</h3>
          <p>
            Zusätzlich habe ich Requirements definiert, die dieses Projekt erfüllen muss, um sich
            einerseits von den bereits vorhandenen Plattformen abzuheben und aber auch auf die
            Bedürfnisse einzugehen, die nicht per se in den Archetypen sichtbar sind.
          </p>
          <ul>
            <li>
              Die Plattform darf für die Gemeinde keinen zusätzlichen Aufwand bedeuten. Natürlich
              braucht es einen gewissen Aufwand, sich in eine Plattform einzuarbeiten, aber der
              Fokus muss bleiben: Grundsätzlich wird für die Verwaltung Arbeit abgenommen, anstatt
              Arbeit generiert.
            </li>
            <li>
              Die Plattform soll weder von der Gemeinde noch vom Kanton unterhalten werden.
              Einerseits reduziert dies den Aufwand für die Verwaltung und andererseits beugt man
              gewissen Spannungen und bürokratischen Hürden etwas vor.
            </li>
            <li>
              Der Austausch zwischen Gemeinde und Bevölkerung muss klar, zugänglich und offen sein.
            </li>
            <li>Die Lösung muss Platz für den Austausch innerhalb der Bevölkerung bieten.</li>
          </ul>

          <p>Nebst den Requirements gibts auch Sachen die dieses Projekt nicht abdecken soll.</p>
          <p>
            Das Projekt soll sich alleine auf die definierte Fragestellung fokussieren. Sonstige
            Funktionalitäten wie z.B. kommunikative Tools (Blog, News, Events etc.) sollen nicht
            berücksichtigt werden. Es gibt bereits genügend andere Lösungen auf dem Markt, die diese
            Features abdecken.
          </p>
        </div>
        <hr />
        <div class="richtext">
          <h2>Umsetzung</h2>
          <p>
            Basierend auf der Recherche und den daraus folgenden Anforderung ist die Plattform
            «Triebhuus» entstanden.
          </p>
          <p>
            Ein Treibhaus wird genutzt, um für das Wachstum von Pflanzen ein optimales Klima zu
            erzeugen und diese vor dem Wetter zu schützen. Ein solcher Ort soll auch diese Plattform
            werden. Ein Ort, der ein optimales Klima und Bedingungen für die Projekte der
            Bevölkerung bietet.
          </p>
          <p>«Triebhuus» ist ein Projektname und nicht als Produktname vorgesehen.</p>
          <p>
            Das folgende Konzept entspricht einem MVP, welcher in weiteren Iterationen
            weiterentwickelt werden kann. Bei dieser Arbeit habe ich versucht, den Scope so schmal
            wie möglich zu halten, um den Kern der Problemstellung zu adressieren.
          </p>
          <h3>Konzept</h3>
          <p>
            Das «Triebhuus» ist eine webbasierte Plattform, die rund um geografisch verortete
            Projekte aufgebaut ist.
          </p>
          <p>
            Auf der Plattform können Projekte der Bevölkerung eingereicht und entdeckt werden.
            Ausserdem können Menschen ihre Unterstützung für Projekte kundtun und direkt konkrete
            Hilfe für deren Umsetzung anbieten. Die Gemeindeverwaltungen können direkt auf Projekte
            reagieren und öffentlich kommunizieren, was sie davon halten und die initiierenden
            Personen unterstützen.
          </p>
        </div>
        <figure class="browser">
          <div class="browser__window">
            <div class="browser__content">
              <img src="<%=require('./images/discover.png')%>" alt="Startseite der Plattform" />
            </div>
          </div>
          <figcaption class="browser__description">Startseite der Plattform</figcaption>
        </figure>
        <div class="richtext">
          <h3>Datenstruktur</h3>
          <p>
            Die Datenstruktur der Plattform besteht aus drei Hauptobjekten: «Projekt», «User» und
            «Gemeinde». In den folgenden Abschnitten werden alle Informationen und Funktionen, die
            diese Objekte enthalten, erläutert.
          </p>
          <h4>Projekt</h4>
          <p>
            Das «Projekt» ist der Kern der Plattform. Ein Projekt ist entweder eine rohe Idee, die
            jemand der Verwaltung mitteilen oder ein konkretes Vorhaben, dass jemand selbst umsetzen
            möchte.
          </p>
        </div>
        <figure class="browser">
          <div class="browser__window">
            <div class="browser__content">
              <img
                src="<%=require('./images/project/detail_full.png')%>"
                alt="Detail Ansicht eines Projektes"
              />
            </div>
          </div>
          <figcaption class="browser__description">
            Gesamte Detailansicht eines Projektes
          </figcaption>
        </figure>
        <div class="richtext">
          <h5>Kategorie</h5>
          <p>
            Bei der Erfassung wird ein Projekt einer Kategorie aus einer vordefinierten Liste
            zugeordnet. Diese Information hilft sowohl der Gemeinde wie auch der Öffentlichkeit,
            Projekte einfacher zu finden.
          </p>
          <img
            src="<%=require('./images/project/category.png')%>"
            alt=""
            class="image image--part"
          />
          <h5>Beschreibung</h5>
          <p>
            Mit einem Titel und einer Beschreibung (Richtext) kann das Projekt entweder kurz und
            prägnant angerissen werden oder aber auch detailliert beschrieben werden. Je nachdem was
            für den konkreten Fall nützlicher ist.
          </p>
          <h5>Bilder</h5>
          <p>
            Ein Projekt kann mehrere Bilder beinhalten, welche in der Detailansicht als «Carousel»
            dargestellt werden.
          </p>
          <img src="<%=require('./images/project/images.png')%>" alt="" class="image image--part" />
          <h5>Unterstützungen</h5>
          <p>
            Die Unterstützungen sind ein numerischer Wert, welcher aufzeigt, wie viele Personen
            dieses Projekt unterstützen. Jeder User kann jedes Projekt einmal unterstützen.
          </p>
          <img
            src="<%=require('./images/project/supports.png')%>"
            alt=""
            class="image image--part"
          />
          <p>
            Die Gemeinden erhalten mit dieser Information einen besseren Überblick über die
            Bedürfnisse der Bevölkerung. Je höher die Anzahl Unterstützungen, desto höher ist die
            Wahrscheinlichkeit, dass dieses Projekt mehr Aufmerksamkeit der Verwaltung bekommt.
          </p>
          <h5>Geografische Lage</h5>
          <p>
            Jedes Projekt hat eine geografische Position. Beim Erfassen eines Projektes geschieht
            dies entweder durch das Suchen nach einer Adresse oder durch das Platzieren eines
            Markers auf der Karte. Die genaue Adresse wird dann per API von z.B. Mapbox ermittelt.
          </p>
          <p>
            Die «Entdecken» Ansicht zeigt alle Projekte anhand dieser Information auf einer Karte
            an.
          </p>
          <img
            src="<%=require('./images/project/location_boxed.png')%>"
            alt=""
            class="image image--part"
          />
          <h5>Markierte Gemeinde</h5>
          <p>
            Die initiierende Person kann mindestens eine Gemeinde für dieses Projekt markieren. Dies
            ist unabhängig davon möglich, ob diese Gemeinde bereits auf der Plattform registriert
            ist oder nicht. Die Plattform bietet selbst eine Liste aller Gemeinden der Schweiz.
          </p>
          <img
            src="<%=require('./images/project/municipality_status.png')%>"
            alt="Hedingen ZH, In Bearbeitung. Idee klingt spannend. Wird momentan intern besprochen."
            class="image image--part"
          />
          <p>
            Da nicht jedes Projekt genau einer Gemeinde zugeordnet werden kann, können beliebig
            viele Gemeinden markiert werden.
          </p>
          <p>
            Falls eine Gemeinde nicht auf der Plattform registriert ist, erscheint eine
            entsprechende Meldung. Das Projekt kann ohne Weiteres veröffentlicht werden. Wenn sich
            die markierte Gemeinde zu einem späteren Zeitpunkt registriert, kann sie auf das Projekt
            reagieren. Somit wird sichergestellt, dass keine Projekte verloren gehen.
          </p>
          <img
            src="<%=require('./images/project/municipality_not_registered.png')%>"
            alt=""
            class="image image--part"
          />
          <p>
            Registrierte Gemeinden können dem Projekt selbst einen Status und eine Mitteilung
            verleihen. Dies soll die initiierende Person darüber informieren, welchen Stand das
            Projekt bei der Verwaltung hat und ob dies bereits bearbeitet wurde.
          </p>
          <img
            src="<%=require('./images/project/status_list.png')%>"
            alt="Liste von möglichen Status"
            class="image image--part"
          />
          <h5>Diskussionen</h5>
          <p>
            Das Diskussions-Feature bietet allen User der Plattform die Möglichkeit, um Vorschläge
            oder weitere Ideen im Bezug auf das Projekt auszutauschen. Auch die Gemeinde kann sich
            hier einbringen. Eine Diskussion besteht aus einem linearen Thread von Nachrichten.
          </p>
        </div>
        <figure class="browser">
          <div class="browser__window">
            <div class="browser__content">
              <img
                src="<%=require('./images/project/discussions.png')%>"
                alt="Ansicht der Diskussionen innerhalb eines Projektes"
              />
            </div>
          </div>
          <figcaption class="browser__description">
            Ansicht der Diskussionen innerhalb eines Projektes
          </figcaption>
        </figure>
        <div class="richtext">
          <h5>Tätigkeiten</h5>
          <p>
            User, die für ihr Projekt praktische Unterstützung brauchen, können dies als Tätigkeiten
            erfassen. Die einzeln erfassten Tätigkeiten können danach in einer «Diskussion»
            besprochen werden. Sobald eine Diskussion dazu eröffnet wurde, ist diese dann auch in
            der Diskussionsliste aufgeführt. Die Projektinitiierenden können zudem abgeschlossene
            oder geklärte Tätigkeiten abhaken.
          </p>

          <img
            src="<%=require('./images/project/tasks_boxed.png')%>"
            alt=""
            class="image image--part"
          />

          <h3>User</h3>
          <p>
            Das «User» Objekt repräsentiert die Personen, die auf dieser Plattform aktiv sind.
            Sowohl die Personen aus der Bevölkerung als auch die Personen der Gemeindeverwaltungen.
          </p>
          <p>
            User werden im User Interface meistens mit dem Namen und einem Profilbild dargestellt.
          </p>
          <img src="<%=require('./images/user/card.png')%>" alt="" class="image image--part" />
          <p>
            Alle User haben mit der «Meine Projekte» Ansicht, einen Überblick über die eigenen und
            die unterstützten Projekte.
          </p>
        </div>
        <figure class="browser">
          <div class="browser__window">
            <div class="browser__content">
              <img src="<%=require('./images/user/projects.png')%>" alt="" />
            </div>
          </div>
          <figcaption class="browser__description">Ansicht aller Projekte eines Users.</figcaption>
        </figure>
        <figure class="browser">
          <div class="browser__window">
            <div class="browser__content">
              <img src="<%=require('./images/user/projects_supported.png')%>" alt="" />
            </div>
          </div>
          <figcaption class="browser__description">
            Liste aller Projekte, welche ein User unterstützt.
          </figcaption>
        </figure>
        <div class="richtext">
          <p>
            Jede Person kann sich auf der Plattform als User registrieren. Der Login- und
            Registrationsprozess ist in den Screens nicht abgebildet
          </p>
          <h3>Gemeinde</h3>
          <p>
            Das «Gemeinde» Objekt repräsentiert eine politische Gemeinde aus der Schweiz. Alle
            Gemeinden sind bereits auf der Plattform erfasst und können bei Projekten markiert
            werden.
          </p>
          <p>
            Sobald sich jemand auf der Plattform als eine spezifische Gemeinde ausgeben will, muss
            diese Person von den Betreibern der Plattform manuell freigeschalten werden. Somit soll
            ein Missbrauch verhindert werden.
          </p>
          <p>
            Nachdem ein User mit einer Gemeinde verbunden wurde, erscheint in der Navigation ein
            Dropdown, welches es ermöglicht im Namen der Gemeinde Änderungen vorzunehmen.
          </p>
          <img
            src="<%=require('./images/municipality/navigation.png')%>"
            alt=""
            class="image image--part"
          />
          <p>
            Somit können User weiterhin als eigenständige Personen auf der Plattform aktiv sein und
            trotzdem Arbeit für eine Verwaltung erledigen.
          </p>
          <p>
            Die Ansicht «Meine Projekte» heisst nun «Projekte» und bietet einen Überblick über alle
            Projekte, bei welchen die Gemeinde markiert wurde. Zusätzlich enthält die Ansicht auch
            noch eine Such-, Filter- und Sortierungsfunktion. Somit erhält die Verwaltung der
            Gemeinde ein Set an Tools, um die lokalen Projekte zu verwalten.
          </p>
        </div>
        <figure class="browser">
          <div class="browser__window">
            <div class="browser__content">
              <img src="<%=require('./images/municipality/projects.png')%>" alt="" />
            </div>
          </div>
          <figcaption class="browser__description">Liste aller Projekte einer Gemeinde</figcaption>
        </figure>
        <hr />
        <div class="richtext">
          <h2>Use Cases</h2>
          <p>
            Um aufzuzeigen, wie die Plattform von den definierten Archetypen benutzt werden kann,
            werden nun vier verschiedene Use Cases präsentiert, die ein mögliches Szenario für je
            einen der Archetypen beinhalten.
          </p>

          <h3>Projekt erstellen</h3>
          <p>
            Noah («Initiativ-Typ») hat ein konkretes Projekt geplant und möchte dies der Gemeinde
            und der Bevölkerung kundtun. Er hat sich bereits einige Gedanken zum Projekt gemacht und
            dafür auch schon Informationen gesammelt. Um das Projekt zu erfassen, benutzt er dazu
            sein Notebook.
          </p>
        </div>
        <figure class="browser browser--video">
          <div class="browser__window">
            <div class="browser__content">
              <video src="<%=require('./videos/create_project.mp4')%>" muted controls></video>
            </div>
          </div>
        </figure>
        <div class="richtext">
          <h3>Projekt unterstützen</h3>
          <p>
            Emma stösst auf der Plattform auf ein Projekt, dass sie spannend findet. Um dem Projekt
            mehr Aufmerksamkeit zu verleihen, nutzt sie die «Unterstützen» Funktion.
          </p>
        </div>
        <figure class="browser browser--video">
          <div class="browser__window">
            <div class="browser__content">
              <video src="<%=require('./videos/support_project.mp4')%>" muted controls></video>
            </div>
          </div>
        </figure>
        <div class="richtext">
          <h3>Idee einbringen</h3>
          <p>
            Emma («Bedürfnis-Typ») ist gerade auf einem Spaziergang unterweges. Am Waldrand macht
            sie kurz eine Pause und geniesst die Aussicht. Sie würde hier gerne kurz verweilen,
            vermisst aber eine Sitzgelegenheit. Dieses Bedürfnis erfasst sie nun auf der Plattform
            auf ihrem Smartphone.
          </p>
        </div>
        <video
          class="mobile-screen"
          src="<%=require('./videos/create_idea.mp4')%>"
          muted
          controls
        ></video>
        <div class="richtext">
          <h3>Projekt verwalten</h3>
          <p>
            Tristan («Verwaltungs-Typ») arbeitet bei der Stadt Affoltern am Albis. Er möchte sich
            auf der Plattform informieren, welche neue Projekte in Affoltern am Albis erfasst worden
            sind. Er sieht ein spannendes Projekt, aktualisiert den Status und teilt den
            Projektinitiierenden mit, dass das Projekt intern besprochen würde. Er benutzt dazu
            seinen Desktop.
          </p>
        </div>
        <figure class="browser browser--video">
          <div class="browser__window">
            <div class="browser__content">
              <video src="<%=require('./videos/set_status.mp4')%>" muted controls></video>
            </div>
          </div>
          <figcaption class="browser__description">TODO</figcaption>
        </figure>
        <hr />
        <div class="richtext">
          <h2>Visuelles Design</h2>
          <p>
            Bei der visuellen Gestaltung habe ich versucht, so minimalistisch wie möglich zu sein
            und ein sehr dezentes Branding zu erstellen. Auf der Plattform sind viele verschiedene
            Gemeinden aktiv, die selber ein eigenes Corporate Design haben. Dazu sollen auch die
            Projekte hervorgehoben und nicht durch die Gestaltung übersteuert werden. Bildlich
            gesprochen sollte also das visuelle Design ein Treibhaus sein, dessen Funktion darin
            besteht, eine optimale Umgebung für die Projekte zu bieten und ihnen die nötige
            Aufmerksamkeit zu schenken.
          </p>
          <p>
            Bei der Auswahl der Farben habe ich mich für die
            <a href="https://yeun.github.io/open-color/" target="_blank" rel="nofollow"
              >«Open Color»</a
            >
            Palette entschieden. Diese Farbpalette bietet eine breite Auswahl an Farbtönen mit je
            zehn Helligkeitsabstufungen. Die Abstufungen sind über alle Farbtöne einheitlich
            wahrnehmbar. Dies war besonders für die Einhaltung des nötigen Kontrastes für die
            Barrierefreiheit eine grosse Hilfe.
          </p>
          <p>
            Mit der
            <a href="https://fonts.google.com/specimen/Work+Sans" target="_blank" rel="nofollow"
              >«Work Sans»</a
            >
            habe ich mich für eine serifenlose Schriftfamilie entschieden, die einen breiten Umfang
            an Schriftschnitten hat und für «on-screen» Gebrauch gestaltet wurde. Damit hatte ich
            eine grosse Freiheit in der Anwendung für verschiedenste Textarten.
          </p>
        </div>
        <hr />
        <div class="richtext">
          <h2>Testing</h2>
          <p>
            Durch den Austausch mit Mitmenschen und meinem Mentor sowie durch Usability Tests konnte
            ich einige Erkenntnisse gewinnen und die Umsetzung entsprechend daran anpassen.
          </p>
          <h3>Projekt und Idee</h3>
          <p>
            In einer ersten Version der Plattform existierte neben dem «Projekt» auch noch ein
            «Idee» Objekt. Die Überlegung dahinter war, einen möglichst einfachen Weg für den
            «Bedürfnis-Typ» zu etablieren, um seine Ideen zu erfassen.
          </p>
          <p>
            Es hat sich aber gezeigt, dass die Unterschiede zwischen «Idee» und «Projekt» für die
            meisten Personen nicht klar waren. Deshalb habe ich mich dazu entschieden, diese zwei
            Objekte zusammenzulegen. Bei der Umsetzung des User Interface habe ich zusätzlich darauf
            geachtet, dass Ideen trotzdem möglichst einfach erfasst werden können.
          </p>
          <h3>Unterstützen</h3>
          <p>
            Der Begriff «Unterstützen» wurde von gewissen Personen als «finanzielle oder praktische
            Unterstützung» verstanden. Aus diesem Grund habe ich die Unterstützungen beim Button wie
            auch beim Counter mit einem Herz-Icon ergänzt.
          </p>
          <img
            src="<%=require('./images/project/supports.png')%>"
            alt=""
            class="image image--part"
          />
          <!-- <h3>Beitragen</h3> -->
          <h3>Marker setzen</h3>
          <p>
            Beim Setzen der geografischen Position zeigten sich viele verschiedene Verhaltensweisen.
            Das Positionieren des Markers war nicht bei allen Personen als intuitive Aktion zu
            beobachten.
          </p>
          <p>
            Den Marker habe ich deshalb mit einem Label versehen, um bewusst auf dessen Funktion
            aufmerksam zu machen.
          </p>
          <img src="<%=require('./images/testing/map.png')%>" alt="" class="image image--part" />
        </div>
        <hr />
        <div class="richtext">
          <h2>Weiterentwicklung</h2>
          <p>
            Die Plattform bietet mit diesem Konzept eine solide Grundlage für weitere Funktionen und
            Features, die in weiteren Iterationen hinzugefügt werden könnten.
          </p>
          <h3>Technische Anbindung</h3>
          <p>
            Die meisten Gemeinden der Schweiz besitzen und unterhalten eine oder mehrere digitale
            Auftritte. Mit einer API könnte man Gemeinden ermöglichen, z.B. auf ihrer Website die
            Projekte mit den meisten Unterstützungen anzuzeigen.
          </p>
          <h3>Mehrsprachigkeit</h3>
          <p>
            Mit dem bewussten Fokus auf die Fragestellung wurde die Mehrsprachigkeit im MVP nicht
            berücksichtigt. Um die Plattform für alle Gemeinden der Schweiz anbieten zu können, muss
            die Plattform unbedingt alle offiziellen Landessprachen anbieten.
          </p>

          <p>
            Bei der Umsetzung des Designs wurde aber bereits berücksichtigt, dass die Länge der
            Wörter keine grosse Rolle spielen sollten. Ausserdem sollten alle Elemente mit mehr oder
            weniger Text zurechtkommen. Dies ist bereits eine gute Grundlage und eine Plattform
            mehrsprachig umzusetzen.
          </p>
          <h3>Aufruf zur Partizipation</h3>
          <p>
            Die Partizipation könnte noch stärker gefördert werden, wenn die Verwaltung die
            Möglichkeit hätte, konkrete Aufrufe nach Ideen oder Projekten auf der Plattform zu
            veröffentlichen. Diese müssten auch geografisch verortet werden und würden auf der
            «Entdeckungs» Ansicht zusätzlich zu den Projekten angezeigt.
          </p>
          <h3>Auswertung für Gemeinden</h3>
          <p>
            Damit die Gemeinden noch einen besseren und detaillierteren Überblick über die
            Bedürfnisse der Bevölkerung haben, könnte eine Gemeinde-Ansicht erstellt werden, welche
            Auswertungen aller Projekte über den Zeitraum von einem Jahr hinweg beinhaltet. Falls
            zum Beispiel übermässig viele Projekte mit der Kategorie «Barrierefreiheit» erstellt
            wurden, kann dies ein guter Indikator für die Gemeinde sein, dass in diesem Bereich ein
            Defizit herrscht.
          </p>
          <h3>Personalisierte Anzeige für User</h3>
          <p>
            Sobald die Plattform in Gebrauch ist und eine gewisse Menge an Projekten erfasst sind,
            könnte für die User eine personalisierte Zusammenstellung ausgespielt werden. Diese
            könnte sich z.B. auf den Wohn- und oder Arbeitsort beziehen, wenn diese Informationen
            denn vom User angegeben wurde.
          </p>
        </div>
        <hr />
        <div class="richtext">
          <h2>Danke!</h2>
          <p>Ein spezieller Dank an alle, die mich wärend dieser Arbeit unterstützt haben.</p>

          <p>
            Richard Zimerman, Mentor<br />
            Boris Périsset, Dozent<br />
            Ronald Alder, Interview Politik<br />
            Leonhard Füsser<br />
            Deborah Büschlen
          </p>
          <p>Ohne euch wäre diese Arbeit nicht möglich gewesen.</p>
        </div>
      </article>
    </main>
  </body>
</html>
