<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <link rel="icon" href="<%= require('./images/favicon.ico') %>" sizes="any" />
    <!-- 32×32 -->
    <link rel="icon" href="<%= require('./images/favicon.svg') %>" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="<%= require('./images/apple-touch-icon.png') %>" />
    <!-- 180×180 -->

    <!-- TODO: self host the fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <main class="main">
      <header class="header">
        <!-- 1195 / 508 -->
        <!-- <img
          src="https://picsum.photos/id/233/1920/816?grayscale"
          alt="Just a random background image"
          
        /> -->
        <img
          src="<%=require('./images/header.jpeg')%>"
          alt="Bild eines Treibhauses"
          class="header__image"
        />
        <!-- 1002, 451 -->
        <div class="header__card">
          <h1 class="header__title">Triebhuus</h1>
          <p class="header__description">
            Ein Projekt zur Förderung der bürgerlichen Partizipation
          </p>
          <p class="header__meta">
            Diplomarbeit von Dan Büschlen<br />
            19. Juni 2022<br />
            IAD 2019<br />
            Schule für Gestaltung Zürich<br />
          </p>
        </div>
      </header>
      <article class="content">
        <div class="richtext">
          <h2>Einleitung</h2>
          <p>
            Dieses Projekt hat seinen Ursprung bei dieser Treppe, welche auf diesem Bild sichtbar
            ist. Diese Treppe wurde von ein paar Freunden von mir gebaut. Sie hatten an einer
            bestimmten Stelle des Flusses eine Ausstiegsstelle vermisst. Nach einigen Diskussionen
            und einer Planungsphase haben sie sich schlussendlich dazu entschieden, Initiative zu
            ergreifen und selbst eine Treppe für den Ausstieg zu bauen.
          </p>
          <p>
            Es war aber allen Beteiligten klar, dass dieses Vorhaben den baurechtlichen Vorschriften
            nicht entsprechen würden. Deshalb und auch aus der Respekt vor der Bürokratie, haben sie
            sich nicht bei der lokalen Gemeindeverwaltung gemeldet.
          </p>
          <p>
            Ich fand es faszinierend zu sehen, wie Menschen mit handwerklichen Fähigkeiten ein
            Bedürfnis im öffentlichen Raum sahen und dann selbst gleich die Lösung dafür lieferten.
            Gleichzeitig zeigt es aber auch auf, dass Personen der Bevölkerung sich nicht bei der
            lokalen Gemeinde melden, weil sie befürchten, dass ihre Idee und die Initiative
            abgelehnt werden könnte.
          </p>
          <p>
            Dies hat mich auf die Idee gebracht, mit dieser Arbeit ein Konzept zu erstellen, um die
            folgende Frage zu bearbeiten.
          </p>

          <p class="title-quote">
            «Wie kann ich die Bevölkerung dabei unterstützen ihre Ideen bei der Gemeinde
            einzubringen?»
          </p>
        </div>

        <hr />

        <div class="richtext">
          <h2>Recherche</h2>
          <p>
            Da bereits eine relativ klare Fragestellung definiert war, wollte ich nochmals einen
            Schritt zurück machen und ein paar Aspekte genauer betrachten. Gibt es überhaupt ein
            Bedürfnis auf Seite der Bevölkerung sich stärker einbringen zu können und gibt es dieses
            Bedürfnis auch auf Seiten der Politik? Wo liegen momentan die Stolpersteine, wenn sich
            Bürgerinnen oder Bürger einbringen wollen und was hält sie davon ab. Welche Projekte und
            Angebote befassen sich bereits mit dieser Thematik?
          </p>
          <h3>Bevölkerung</h3>
          <p>
            Um mehr darüber zu erfahren, wie die Bevölkerung darüber denkt, habe ich mich mit meinem
            Umfeld ausgetauscht. Alle diese Personen wohnen in einer Gemeinde, sind in einer
            Nachbarschaft zuhause, haben alle ihre eigenen Vorstellung des öffentlichen Lebens,
            sowie und Bedürfnisse an die öffentliche Infrastruktur.
          </p>
          <p>In den Gesprächen und beim Zuhören sind mir folgende Punkte aufgefallen.</p>
          <h4 class="title-quote">«Meinst du sowas wie ‹…› ?</h4>
          <p>
            Wenn ich jeweils über das Thema dieses Projektes gesprochen und den Sachverhalt der
            bürgerlichen Partizipation erklärt habe, kam immer wieder die Aussage «Meinst du so
            etwas wie…?». Dabei folgte immer eine Idee oder ein Bedürfnis aus dem Alltag dieser
            Menschen wie z.B. «Grünnützungsfläche» oder «eine Sitzbank am Waldrand». Dies hat mir
            bestätigt, dass sehr viele Ideen und Ansätze für Projekte vorhanden sind
          </p>
          <h4 class="title-quote">«Wo soll ich mich melden?</h4>
          <p>
            Das Beispiel der «Sitzbank am Waldrand» hörte ich von einer älteren Frau, welche bei
            ihrem Wohnort immer wieder denselben Spaziergang macht und sich eben an einer Stelle am
            Waldrand eine Sitzbank wünschte. Sie weiss aber nicht ob sie sich bei der Verwaltung der
            lokalen Gemeinde, der Holzkorporation oder sonst wo melden sollte.
          </p>
          <p>
            Das selbe ist mir auch aufgefallen, als ich bei der Verwaltung meiner Wohngemeinde
            angerufen habe um jemanden für ein Interview anzufragen, welcher im Bereich der
            bürgerlichen Partizipation arbeitet. Leider wusste auch selbst die Verwaltung nicht wer
            dafür zuständig ist.
          </p>
          <p>
            Es gibt also in der Bevölkerung wie auch auf Seite der Verwaltung Unklarheit, wo die
            richtige Anlaufstelle für Ideen und Projekte sind.
          </p>
          <h4 class="title-quote">«Mit dieser Bürokratie hat das sowieso keine Chance!</h4>
          <p>
            Von verschiedenen Personen hörte ich immer wieder, dass sie nicht glauben das eine
            spezifische Idee dem Baurecht nicht entsprechen würde oder dass die Prozesse so lange
            dauern, dass es überhaupt keinen Zweck hat sich einzubringen.
          </p>
          <p>Das Vetrauen in die Prozesse der Verwaltung scheint also nicht gross zu sein.</p>
          <p>
            Eine Erhebung der Bertelsmann Stiftung stützt meine These, dass ein grosser Teil der
            Bevölkerung eine Beteiligung über die Wahlen hinaus wünscht. Ein sehr grosser Teil denkt
            aber auch, dass die Politik eine solche Beteiligung gar nicht möchte. Die Erhebung muss
            aber auch im Kontext des deutschen politischen System betrachtet werden, da sich dies
            ziemlich stark zur schweizer Demokratie unterscheidet.
          </p>
        </div>
        <div class="data-wrapper">
          <iframe
            title="Meinungsbild zur Bereitschaft der Bürger zu politischer Beteiligung"
            aria-label="Säulen (gruppiert)"
            id="datawrapper-chart-66tez"
            src="https://datawrapper.dwcdn.net/66tez/1/"
            scrolling="no"
            frameborder="0"
            style="width: 0; min-width: 100% !important; border: none"
            height="438"
          ></iframe>
          <script type="text/javascript">
            !(function () {
              "use strict"
              window.addEventListener("message", function (e) {
                if (void 0 !== e.data["datawrapper-height"]) {
                  var t = document.querySelectorAll("iframe")
                  for (var a in e.data["datawrapper-height"])
                    for (var r = 0; r < t.length; r++) {
                      if (t[r].contentWindow === e.source)
                        t[r].style.height = e.data["datawrapper-height"][a] + "px"
                    }
                }
              })
            })()
          </script>
        </div>
        <div class="richtext">
          <h3>Politik / Verwaltung</h3>
          <p>
            Damit ich die Probleme und Herausforderung auf Seite der Politik und der Verwaltung
            verstehen konnte, habe ich mit Roland Alder ein Interview geführt. Er ist Gemeinderat
            der Gemeinde Ottenbach ZH und Kantonsrat im Kanton Zürich.
          </p>
          <p>Die wichtigsten Punkte aus dem Gespräch sind folgend zusammengefasst.</p>
          <p>
            Bürgerliche Partizipation ist aus Sicht der Politik fast immer erwünscht. Ziel der
            meisten Politiker und Politikerinnen ist es, die Bevölkerung und ihre Anliegen zu
            vertreten. Ein stetiger Austausch hilft um eine Entkopplung zu verhindern. Das Bedürfnis
            ist also Grundsätzlich vorhanden.
          </p>
          <p>
            Die meisten Personen, welche sich bereits engagieren tun dies entweder für eine gewisse
            <i>Zeit</i> oder innerhalb eines gewissen <i>Themas</i>. Also dort wo man persönlich
            Betroffen oder interessiert ist. Es gibt fast keine Menschen, welche sich stetig und
            über ein breites Spektrum beteiligen.
          </p>
          <p>
            Direkt an die Verwaltung werden fasst keine Projektanfragen gestellt. Dabei soll
            anscheinend die Kommunikation das grösste Problem sein. Die Menschen wissen nicht wo sie
            sich melden können.
          </p>
          <p>
            Die Verwaltung von kleineren Gemeinden (im Kontext dieses Inteviews: ca. Ottenbach 2300
            Einwohner) hat in den meisten Fällen sehr knappe Ressourcen. Selbst wenn Mitarbeitende
            in die Ferien gehen oder Krank sind, gibt es Verantwortlichkeiten, die in dieser Zeit
            nicht wahrgenommen werden können.
          </p>
          <p>
            Verschiedene Verwaltungen haben bei öffentlichen digitalen Tools und Plattform immer
            Anfangs sehr viel Geld investiert und den Launch sehr stark gepusht. Danach war es die
            grösste Challenge das Tool zu unterhalten und am Leben zu erhalten. Da die Ressourcen
            sehr knapp sind, sind dabei viele Plattformen wieder versandet.
          </p>
          <p>
            Der Föderalismus ist zwar ein gutes und bewährtes System, doch Kantone und Gemeinde
            verstehen sich nicht immer gut. Der Kanton kennt die Bedürfnisse der Gemeinden nicht
            immer sehr gut und eine einzelne Gemeinde kann für seine Bedürfnisse beim Kanton nicht
            sehr viel ausrichten.
          </p>

          <h3>Der bestehende Markt</h3>
          <p>
            Es gibt bereits eine Menge an Organisationen, Firmen und Vereine die sich mit digitaler
            bürgerlicher Partizipation auseinander setzen und diese fördern wollen.
          </p>
          <h4>Civocracy</h4>
          <p>
            <a href="https://www.civocracy.com" rel="nofollow">Website</a> &bull;
            <a href="https://www.civocracy.org/" rel="nofollow">Communites</a> &bull;
            <a href="https://www.civocracy.com/blog" rel="nofollow">Blog</a>
          </p>
          <img
            alt="Screenshot der Civocracy Plattform von Lyon"
            src="<%=require('./images/market/civocracy.png')%>"
            class="image image--screenshot"
          />

          <p>
            Die Firma Civocracy unterstützt politische Verwaltungen mit ihrer Plattform das
            Engagement und den Austausch der Bevölkerung zu fördern. Weil die Plattform viele
            kommunikative Funktionen beinhaltet, dient es vor allem als digitales Sprachrohr. Dabei
            liegt der Fokus der Initiative vor allem auf Seite der Verwaltung. Das heisst, wenn die
            Verwaltung den Input der Bevölkerung zu einem bestimmten Thema wollen, dann schalten sie
            die entsprechenden Massnahmen dazu auf der Plattform und nicht umgekehrt. Das Ziel ist
            die Agenda der aktuellen politischen Administration voranzutreiben und deren Resultate
            zu messen.
          </p>
          <h5>Pros:</h5>
          <ul>
            <li>
              Sehr viele kommunikative Tools
              <ul>
                <li>News / Blog</li>
                <li>Events</li>
              </ul>
            </li>
          </ul>
          <ul>
            <li>Eine grosse Menge an einzelnen Tools</li>
          </ul>
          <h5>Cons:</h5>
          <ul>
            <li>Agenda der Politik steht im Vordergrund</li>
            <li>Jede Gemeinde / Organisation muss ihre eigene Plattform unterhalten</li>
          </ul>

          <h4>Crossiety</h4>
          <img
            alt="Screenshot der Crossiety Website"
            src="<%=require('./images/market/crossiety.png')%>"
            class="image image--screenshot"
          />
          <p>
            Crossiety ist eine ähnliche Plattform wie Civocracy. Dabei steht die politischen Agenda
            aber weniger in Zentrum. Mit einem sehr grossen Bereich an verschiedensten Funktionen
            könnte man es am ehesten als digitaler Dorfplatz bezeichnen. Es soll den Austausch
            innerhalb der Bevölkerung, sowie den Austausch zwischen Bevölkerung und der Verwaltung
            fördern.
          </p>
          <h5>Pros:</h5>
          <ul>
            <li>
              Für schweizer Gemeinden optimal, da die Firma aus der Schweiz ist und sich mit dem
              hiesigen demokratischen System und der Kultur auskennt.
            </li>
          </ul>
          <h5>Cons:</h5>
          <ul>
            <li>Jede Gemeinde muss ihre eigene Plattform aufbauen und unterhalten</li>
            <li>Relativ grosser Aufwand zum Launch und Unterhalten.</li>
          </ul>
          <h4>nextzürich</h4>
          <p>
            <a href="https://nextzuerich.ch" rel="nofollow">Website</a>
          </p>
          <img
            alt="Screenshot der nextzurich Website"
            src="<%=require('./images/market/nextzurich.jpg')%>"
            class="image image--screenshot"
          />
          <p>Hauptsächlich Sammlung von Ideen. Mit Zustimmen, Ablehnen und Kommentieren.</p>
          <p>
            Nextzürich ist eine Organisation die sich für Co-creation in der Stadtentwicklung in der
            Stadt Zürich einsetzt. Nebst dem, dass sie Events und Workshops organisieren um
            gemeinsam mit der Bevölkerung Ideen zu entwickeln, stellen sie auf Ihrer Website auch
            eine Ideenkarte zur Verfügung. Auf dieser können Personen ihre eigenen Ideen erfassen
            und geografisch auf der Karte anheften.
          </p>
          <p>
            Nextzürich ist Teil des
            <a href="https://www.wearenext.org/" rel="nofollow">Next Networks</a>
          </p>
          <h5>Pros:</h5>
          <ul>
            <li>Up- / Downvotes zeigen relativ schnell die Bedürfnise auf</li>
            <li>Karte als Interface um Ideen zu verordnen</li>
          </ul>
          <h5>Cons:</h5>
          <ul>
            <li>Es ist nicht klar was mit diesen Ideen geschieht.</li>
            <li>Kein Austausch mit der politischen Verwaltung</li>
          </ul>

          <h4>Stadtmacher</h4>
          <p>
            <u><a href="https://www.stadtmacher.org/" rel="nofollow">Website</a></u>
          </p>
          <img
            alt="Screenshot der Stadtmacher Website"
            src="<%=require('./images/market/stadtmacher.png')%>"
            class="image image--screenshot"
          />
          <p>
            Stadtmacher ist eine Crowdfunding Plattform für Projekte der Bevölkerung der Stadt
            Hamburg. Auf der Plattform werden jeweils «Challenges» (Thema) veröffentlicht zu welcher
            dann konkrete Projekte eingereicht werden können.
          </p>
          <h5>Pros:</h5>
          <ul>
            <li>Finanzierung. Sowohl von anderen Personen wie auch von der Organisation</li>
            <li>Vernetzung innerhalb der Bevölkerung</li>
          </ul>
          <h5>Cons:</h5>
          <ul>
            <li>
              Einschränkung durch Challenges. Gibt es eine Idee ohne die Challenge, passt sie nicht
              auf die Plattform.
            </li>
            <li>
              Es muss bereits eine klare Vorstellung des Projektes bestehen, bevor es eingereicht
              werden kann
            </li>
          </ul>

          <h4>Züri wie neu</h4>
          <p>
            <a href="https://www.zueriwieneu.ch" rel="nofollow">Website</a>
          </p>
          <img
            alt="Screenshot der Zueri Wie Neu Website"
            src="<%=require('./images/market/zueriwieneu.jpg')%>"
            class="image image--screenshot"
          />
          <p>
            Ähnlich wie «Nextzürich» bietet «Züri wie neu» ein kartenbasiertes Tool. Die Plattform
            dreht sich aber um Schäden und Mängel der öffentlichen Infrastruktur, die von der
            Bevölkerung gemeldet werden.
          </p>
          <h5>Pros</h5>
          <ul>
            <li>Austausch zwischen Bevölkerung und Verwaltung</li>
            <li>
              Status der Meldung ist klar. Die Meldungen werden in der Regel schnell bearbeitet.
            </li>
            <li>Plattform wird unterhalten</li>
          </ul>
          <h5>Cons</h5>
          <ul>
            <li>Könnte zum Shitposting missbraucht werden</li>
            <li>Es geht nicht darum, was noch sein könnte sondern was nicht funktioniert.</li>
          </ul>
        </div>
        <hr />
        <div class="richtext">
          <h2>Problemdefinition / Synthese</h2>
          <p>
            Die Recherchephase hat aufgezeigt, dass sich die Fragestellung «Wie kann ich die
            Bevölkerung dabei unterstützen ihre Ideen bei der Gemeinde einzubringen?» bewährt. Das
            Bedürfnis nach mehr Partizipation ist in der Bevölkerung wie auch auf Seiten der Politik
            vorhanden.
          </p>
          <h3>Archetypen</h3>
          <p>
            Anstelle von Personas habe ich mich dazu entschieden sogenannte Archetypen zu erstellen.
            Dazu habe ich die verschiedenen Eigenschaften und Pain Points, die in der Recherchephase
            gesammelt worden sind, gruppiert und damit mögliche Nutzer dargestellt.
          </p>
          <p>Initiativ-Typ</p>
        </div>
        <div class="archetype-list">
          <div class="archetype">
            <h4 class="archetype__title">Initiativ-Typ</h4>

            <h5 class="archetype__section-title">Eingenschaften</h5>
            <ul class="archetype__attributes">
              <li>Eigenschaft 1</li>
              <li>Eigenschaft 1</li>
              <li>Eigenschaft 1</li>
            </ul>
            <h5 class="archetype__section-title">Pain Points</h5>
            <ul class="archetype__attributes">
              <li>Pain Point 1</li>
              <li>Pain Point 1</li>
              <li>Pain Point 1</li>
            </ul>
          </div>
          <div class="archetype">
            <h4 class="archetype__title">Initiativ-Typ</h4>

            <h5 class="archetype__section-title">Eingenschaften</h5>
            <ul class="archetype__attributes">
              <li>Eigenschaft 1</li>
              <li>Eigenschaft 1</li>
              <li>Eigenschaft 1</li>
            </ul>
            <h5 class="archetype__section-title">Bedürfnis-Typ</h5>
            <ul class="archetype__attributes">
              <li>Pain Point 1</li>
              <li>Pain Point 1</li>
              <li>Pain Point 1</li>
            </ul>
          </div>
          <div class="archetype">
            <h4 class="archetype__title">Verwaltung-Typ</h4>

            <h5 class="archetype__section-title">Eingenschaften</h5>
            <ul class="archetype__attributes">
              <li>Eigenschaft 1</li>
              <li>Eigenschaft 1</li>
              <li>Eigenschaft 1</li>
            </ul>
            <h5 class="archetype__section-title">Pain Points</h5>
            <ul class="archetype__attributes">
              <li>Pain Point 1</li>
              <li>Pain Point 1</li>
              <li>Pain Point 1</li>
            </ul>
          </div>
        </div>
        <div class="richtext">
          <p>Bedürfnis-Typ</p>
          <p>Verwaltung-Typ</p>
          <h3>Requirements</h3>
          <p>
            Zusätzlich habe ich Requirements definiert, die dieses Projekt erfüllen muss um
            einerseits sich von den bereits vorhandenen Plattformen abzuheben und aber auch auf die
            Bedürfnisse einzugehen, die nicht per se in den Archetypen sichtbar sind.
          </p>
          <p>Projekt</p>
          <ul>
            <li>
              Plattform darf für die Gemeinde keinen zusätzlichen Aufwand bedeuten. Natürlich
              braucht es einen gewissen Aufwand sich in eine Plattform einzuarbeiten, aber der
              Grundfokus muss bleiben: Grundsätzlich für die Verwaltung Arbeit abgenommen anstatt
              Arbeit generiert.
            </li>
            <li>
              Die Plattform soll weder von der Gemeinde noch vom Kanton unterhalten werden.
              Einerseits reduziert dies den Aufwand für die Verwaltung auf die andere Seite beugt
              man gewissen Spannungen und bürokratischen Hürden etwas vor.
            </li>
            <li>Klarer, zugänglicher und offener Austausch zwischen Gemeinde und Bevölkerung</li>
            <li>Austausch innerhalb der Bevölkerung fördern</li>
          </ul>

          <p>Nebst den Requirements gibts auch Sachen die dieses Projekt nicht abdecken soll.</p>
          <p>
            Das Projekt soll sich alleine auf die oben definierte Fragestellung zu fokussieren,
            sonstige Funktionalitäten, wie z.B. kommunikative Tools (Blog, News, Events, etc.)
            sollen nicht berücksichtigt werden. Es gibt bereits genügend andere Lösungen auf dem
            Markt, die diese zu genüge abdecken.
          </p>
        </div>
        <hr />
        <div class="richtext">
          <h2>Umsetzung</h2>
          <p>
            Basierend auf der Recherche und den daraus folgenden Anforderung ist die Plattform
            «Triebhuus» entstanden.
          </p>
          <p>
            Ein Treibhaus wird genutzt um für das Wachstum von Pflanzen ein optimales Klima zu
            erzeugen und diese vor dem Wetter zu schützen. Ein solcher Ort soll auch diese Plattform
            werden. Ein Ort der ein optimales Klima und Bedingungen für die Projekte der Bevölkerung
            bietet.
          </p>
          <p>«Triebhuus» ist ein Projektname und nicht als Produktname vorgesehen.</p>
          <p>
            Das folgende Konzept entspricht einem MVP, welcher in weiteren Iteration
            weiterentwickelt werden kann. Bei dieser Arbeit habe ich mich mit dem Fokus auf die
            Fragestellung versucht den Scope so schmal wie möglich zu halten, um das Problem zu
            lösen, dass es lösen galt. Dabei sind einige Ideen auf der Strecke geblieben.
          </p>
          <h3>Konzept</h3>
          <p>
            Das «Triebhuus» ist eine webbasierte Plattform die rund um geografisch verortete Objekte
            aufgebaut ist.
          </p>
          <p>
            Auf der Plattform können Projekte der Bevölkerung eingereicht und entdeckt werden.
            Ausserdem können Menschen ihre Unterstützung für Projekte kundtun und direkt konkrete
            Hilfe für deren Umsetzung anbieten. Die Verwaltung kann direkt auf Projekte reagieren
            und öffentlich kommunizieren was sie davon halten und die initiierenden Personen
            unterstützen.
          </p>
          <h3>Datenstruktur</h3>
          <p>
            Die Datenstruktur der Plattform besteht aus drei Hauptobjekten: «Projekt», «User» und
            «Gemeinde».
          </p>
          <h4>Projekt</h4>
          <p>
            Das «Projekt» ist der Kern der Plattform. Ein Projekt ist entweder eine rohe Idee, die
            jemand der Verwaltung mitteilen oder ein konkretes Vorhaben, dass jemand selbst umsetzen
            möchte.
          </p>
        </div>
        <figure class="browser">
          <div class="browser__window">
            <div class="browser__content">
              <img
                src="<%=require('./images/project/detail_full.png')%>"
                alt="Detail Ansicht eines Projektes"
              />
            </div>
          </div>
          <figcaption class="browser__description">
            Gesamte Detailansicht eines Projektes
          </figcaption>
        </figure>
        <div class="richtext">
          <h5>Kategorie</h5>
          <p>
            Ein Wert aus einer vordefinierten Liste, dass zur thematisches Verortung bestimmt ist.
            Diese Information hilft sowohl der Gemeinde, wie auch der Öffentlichkeit Projekte
            einfacher zu finden.
          </p>
          <h5>Beschreibung</h5>
          <p>
            Mit einem Titel, einem Untertitel und einer Beschreibung (Richtext) kann das Projekt
            entweder kurz und prägnant angerissen werden oder aber auch detailiert beschrieben
            werden. Je nach dem was für den konkreten Fall nützlicher ist.
          </p>
          <h5>Unterstützungen</h5>
          <p>
            Die Unterstützungen sind ein numerischer Wert, welcher zeigt wie viele Personen dieses
            Projekt unterstützen. Jeder User kann jedes Projekt einmal unterstützen.
          </p>
          <p>
            Die Gemeinden können mit dieser Information einen besseren Überblick über die
            Bedürfnisse der Bevölkerung. Je höher die Anzahl Unterstützungen, desto höher die
            Aufmerksamkeit.
          </p>
          <h5>Geografische Lage</h5>
          <p>
            Jedes Projekt muss eine geografische Position haben. Darauf basiert die kartenbasierte
            «Entdecken» Funktion.
          </p>
          <h5>Markierte Gemeinde</h5>
          <p>
            Die initiierende Person kann mindestens eine Gemeinde für dieses Projekt markieren. Dies
            ist unabhängig davon möglich ob diese Gemeinde bereits auf der Plattform registriert ist
            oder nicht. Die Plattform bietet selbst eine Liste aller Gemeinden der Schweiz.
          </p>
          <img
            src="<%=require('./images/project/municipality_status.png')%>"
            alt="Hedingen ZH, In Bearbeitung. Idee klingt spannend. Wird momentan intern besprochen."
            class="image image--part"
          />
          <p>
            Da nicht jedes Projekt genau einer Gemeinde zugeordnet werden kann, können beliebig
            viele Gemeinden markiert werden.
          </p>
          <p>
            Falls eine Gemeinde nicht auf der Plattform registriert ist, erscheint eine
            entsprechende Meldung. Das Projekt kann ohne weiteres veröffentlicht werden. Wenn sich
            die markierte Gemeinde zu einem späteren Zeitpunkt registriert, kann sie auf das Projekt
            reagieren. Somit wird sichergestellt, dass keine Projekte verloren gehen.
          </p>
          <p>
            Registrierte Gemeinde können dem Projekt selbst einen Status und eine Mitteilung
            verleihen. Dies soll der initiierenden Person informieren, welchen Stand das Projekt bei
            der Verwaltung hat und ob diese bereits bearbeitet wurde.
          </p>
          <img
            src="<%=require('./images/project/status_list.png')%>"
            alt="Liste von möglichen Status"
            class="image image--part"
          />
          <h5>Diskussionen</h5>
          <p>
            Eine Diskussion ist ein linearer Thread von Nachrichten. Das Diskussionsfeature bietet
            die Möglichkeit zum Austausch aller User der Plattform um etwa Vorschläge oder weitere
            Ideen auszutauschen. Auch die Gemeinde kann sich hier einbringen.
          </p>
          <h5>Beitragen</h5>
          <p>
            Eine konkrete Liste von Tätigkeiten, bei welcher der User noch Unterstützung braucht.
            Die einzelnen Elemente haben selbst keine Funktion ausser, dass sie zu einer eigenen
            separaten Diskussion führen. Diese ist dann in der Diskussionsliste auch aufgeführt.
          </p>

          <strong>!!!!!!!!!!!! INFOBOX</strong>
          <p>
            In einer ersten Version der Plattform, existierte neben dem «Projekt» auch noch ein
            «Idee» Objekt. Die Idee dahinter war einen möglichst einfachen Weg für den
            «Bedürfnis-Typ» zu etablieren um Ideen zu erfassen.
          </p>
          <p>
            Es hat sich aber gezeigt, dass die Unterschiede zwischen «Idee» und «Projekt» für die
            meisten Personen nicht klar waren. Deshalb habe ich mich dazu entschieden, diese zwei
            Objekte zusammenzulegen. Bei der Umsetzung des User Interface habe ich zusätzlich darauf
            geachtet, dass Ideen trotzdem möglichst einfach erfasst werden können.
          </p>
          <h3>User</h3>
          <p>
            Das «User» Objekt repräsentiert die Personen, die auf dieser Plattform aktiv sind.
            Sowohl die Personen aus der Bevölkerung als auch die Personen der Verwaltung von
            Gemeinden.
          </p>
          <p>
            User werden im User Interface meistens mit dem Namen und einem Profilbild dargestellt.
          </p>
          <p>
            Alle User haben mit der «Meine Projekte» Ansicht, einen Überblick über die eigenen und
            die unterstützten Projekte.
          </p>
          <p>
            Jede Person kann sich auf der Plattform als User registrieren. Der Login- und
            Registrationsprozess ist in den Screens nicht abgebildet
          </p>
          <p>
            Future: Eigene Standorte (Wohnort, Arbeitsort) für Notifications / Standart ort bei der
            Entdecken Funktion
          </p>
          <h3>Gemeinde</h3>
          <p>
            Das «Gemeinde» Objekt repräsentiert eine politische Gemeinde aus der Schweiz. Alle
            Gemeinden sind bereits auf der Plattform erfasst und können bei Projekten markiert
            werden.
          </p>
          <p>
            Sobald sich jemand auf der Plattform als eine spezifische Gemeinde ausgeben will, muss
            diese Persone von den Betreibern der Plattform manuell freigeschalten werden. Somit soll
            ein Missbrauch verhindert werden.
          </p>
          <p>
            Nachdem ein User mit einer Gemeinde verbunden wurde, erscheint im Header ein Dropdown,
            welches es ermöglicht im Namen der Gemeinde Änderungen vorzunehmen.
          </p>
          <p>
            Somit können User weiterhin als eigenständige Personen auf der Plattform aktiv sein und
            trotzdem Arbeit für eine Verwaltung erledigen.
          </p>
          <p>
            Die Ansicht «Meine Projekte» bietet nun eine Überblick über alle Projekte, bei welchen
            die Gemeinde markiert wurde. Sie soll der Gemeinde helfen, die lokalen Projekte zu
            verwalten.
          </p>
        </div>
        <hr />
        <div class="richtext">
          <h2>Use Cases</h2>
          <p>
            Um aufzuzeigen wie die Plattform von den definierten Archetypen benutzt wird, werden nun
            drei verschieden Use Cases präsentiert, die ein mögliches Szenario für je einen der
            Archetypen beinhalten.
          </p>

          <h3>1. Projekt erstellen</h3>
          <p>
            Der «Initiative-Typ» hat ein konkretes Projekt geplant und möchte dies der Gemeinde und
            der Bevölkerung kundtun. Die Person hat sich bereits einige Gedanken zum Projekt gemacht
            und dafür auch schon Informationen gesammelt. Die Person benutzt dazu ihren Notebook
            oder ihren Desktop.
          </p>
          <h3>2. Idee einbringen</h3>
          <p>
            Der «Bedürfnis-Typ» ist gerade zu Fuss unterwegs. Beim Spaziergang fällt der Person
            etwas spontan ein
          </p>
          <h3>3. Projekt verwalten</h3>
          <p>
            Der «Verwaltungs-Typ» möchte sich auf der Plattform informieren, welche neue Projekte
            für die entsprechende Gemeinde erfasst worden sind. Die Person sieht ein spannendes
            Projekt, aktualisiert den Status und teilt den Projektinitiierenden mit, dass das
            Projekt intern besprochen würde. Die Person benutzt dazu ihren Notebook oder ihren
            Desktop.
          </p>
        </div>
        <hr />
        <div class="richtext">
          <h2>Weiterentwicklung</h2>
          <p>
            Die Plattform bietet mit diesem Konzept eine solide Grundlage für weitere Funktionen und
            Features.
          </p>
          <h3>1. Challenges / Aufruf für Ideen</h3>
          <h3>2. Anbindungsmöglichkeiten für Gemeinde Infrastruktur</h3>
          <h3>3. Dashboard für Gemeinden</h3>
        </div>
      </article>
    </main>
  </body>
</html>
